GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_API_KEY=AIzaSyCG5r5DA67zXOQeCogY8xARQfCbdajhAig
GOOGLE_CLOUD_LOCATION = us-central1
GOOGLE_CLOUD_PROJECT=ai-ml-meta-auto
PROJECT_ID=ai-ml-meta-auto
STORAGE_BUCKET=aa-demo-0901
WEATHERBIT_API_KEY=19909522cd6c4fc1a33786d6910dbd46
GOOGLE_CLOUD_STAGING_BUCKET=gs://aa-demo-0901
AGENT_ENGINE_RESOURCE_NAME=<optional - update after deployment>